.said-app{
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
}

.said-header{

}
.said-container{

}
.said-footer{

}

.said-container-item{
    margin: 10px;
    width:100%;
} 