.said-card-search{
    width: 100%;
}

.said-card{
    /* float: left; */
    width:30%;
    height:40px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: auto;
}

.said-card input[type='text']{
    float: left;
    width: 70%;
    height: 100%;
    border:none;
    outline: none;
    background: transparent;
    padding: 0 5px;
}

.said-card input[type='submit']{
    float: left;
    width: 30%;
    height: 100%;
    border:none;
    background: #CCC;
}

.said-card[data-error] .input{
    border-color: #c92432;
    color: #c92432;
    border: 1px solid #c92432;
    outline: none;
    /* background: #fffafa; */
}

.said-card-success{
    color: #fff;
    background: #6d50e2 !important;
    border-radius: 4px;
}

.said-card[data-error]::after{
    content: attr(data-error);
    font-size: 0.85em;
    color: #c92432;
    display: block;
    margin:10px 0;
}