<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>South Africa ID</title>
    <script src="static/js/said.js" defer></script>
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/said-app.css">
    <link rel="stylesheet" href="static/css/search.css">
    <link rel="stylesheet" href="static/css/holidays.css">
</head>
<body class="said-app">
    <div class="said-header"></div>
    <div class="said-container">

        <div class="said-container-item">
            <div class="said-card-search">
                <form id="form" method="post" autocomplete="off" action="/holiday">
                    <div class="said-card">
                        <input type="text" class="input" placeholder="ID Number" maxlength="13" id="southAfricaNumberId" name="southAfricaNumberId" />
                        <input type="submit" id="sub" value="Search"/>
                    </div>
                </form>
            </div>
        </div>
        <section class="holidays">
            {{ $length := len .Holidays }} {{ if gt $length 0 }}
            
                {{range .Holidays}}
                    <div class="holidays__main-1 box" >
                        <h3 class="said_card_info">{{ .Name}}</h3>
                    </div>
                {{end}}
            {{end}}
        </section>
    
    </div>
    <div class="said-footer"></div>
</body>
</html>