.holidays {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

.holidays__main_center {
    margin: 0 auto !important;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20% ;
    grid-column: 2/4;
    grid-row: 3/5;
}